.nft {
  padding-bottom: 3rem;
}

.create_and_share_text {
  position: absolute;
  top: 90px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  padding-left: 2rem;
  line-height: 41px;
}

.nft_1_image_container {
  position: relative;
}

.nft_1,
.nft_2,
.nft_3 {
  border-radius: 0.8rem;
}

@media (max-width: 576px) {
  .create_and_share_text {
    top: 60px;
    font-size: 20px;
    padding-left: 1rem;
    line-height: 25px;
  }

  .nft_1_image_container .nft_1 {
    height: 175px;
  }
  .nft {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .create_and_share_text {
    top: 65px;
    font-size: 22px;
    padding-left: 1rem;
    line-height: 31px;
  }

  .nft_1_image_container .nft_1 {
    height: 200px;
  }
}

.create_an_nft_text {
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  margin: 1.5rem 0;
}

.nft_2_image_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nft_3_image_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nft_2_image_container .date_nft_text {
  position: absolute;
  top: 10px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}

.nft_3_image_container .custom_nft_text {
  position: absolute;
  top: 10px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}

.nft_2_image_container .text,
.nft_3_image_container .text {
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  margin: 1rem 0;
}

.create_btn {
  background: linear-gradient(90deg, #ff3a3a 0%, #ff00b8 100%);
  border-radius: 28.5px;
  width: 202px;
  height: 57px;
  color: #ffffff;
  font-weight: bold;
  font-size: 19px;
  border: none;
  margin-bottom: 2rem;
}

@media (max-width: 576px) {
  .nft_2_image_container .date_nft_text,
  .nft_3_image_container .custom_nft_text {
    top: 10px;
    font-size: 20px;
    padding-left: 1rem;
    line-height: 25px;
  }

  .nft_2_image_container .nft_2,
  .nft_3_image_container .nft_3 {
    height: 500px;
  }
}

/* @media screen and (max-width: 768px) and (min-width: 576px) {
    .create_and_share_text {
      top: 65px;
      font-size: 22px;
      padding-left: 1rem;
      line-height: 31px;
    }
  
    
  } */
